<!-- <div class="container">
  <h2>Devices</h2>                                    
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chosose device
    <span class="caret"></span></button>
    <select>
      <option *ngFor="let item in items">item</option>
    </select>
  </div>
</div> -->

<select [(ngModel)]="deviceSelected" (ngModelChange)='onDeviceSelected($event)'>
  <option *ngFor="let device of devices" [value]="device.Id">{{device.Name}}</option>
</select>



<canvas id="canvas" width="1200" height="500">{{ chart }}</canvas>



<table class='table'  *ngIf="avgTemp" border="1">
  <thead>
    <tr align="center">
      <th></th>
      <th>Temp. (C)</th>
      <th>Date </th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <td>Min Temp.</td>
      <td>{{ minTemp["Temp"] }}</td>
      <td>{{ minTemp["Date"] | date : YYMMDD}}</td>
    </tr>
    <tr align="center">
      <td>Max Temp.</td>
      <td>{{ maxTemp["Temp"] }}</td>
      <td>{{ maxTemp["Date"] | date : YYMMDD}}</td>
    </tr>
    <tr align="center">
      <td>Avg. Temp.</td>
      <td>{{ avgTemp }}</td>
      <td></td>
    </tr>

  </tbody>
</table>