<!--<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">-->

<!--<h1>Shop products</h1>-->

<!--<p>This component demonstrates fetching data from the external server from url <strong>{{ price }}</strong></p>-->

<!--<button (click)="putReq()">Send request</button>-->

<!--<p *ngIf="!products"><em>Loading...</em></p>-->

<!--<table class='table' *ngIf="products">-->
  <!--<thead>-->
  <!--<tr>-->
    <!--<th>Name</th>-->
    <!--<th>Group Name</th>-->
    <!--<th>Price</th>-->
    <!--<th>Available Amount</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr *ngFor="let product of products">-->
    <!--<td>{{ product.name }}</td>-->
    <!--<td>{{ product.groupName }}</td>-->
    <!--<td>{{ product.price }}</td>-->
    <!--<td>{{ product.availableAmount }}</td>-->
  <!--</tr>-->
  <!--</tbody>-->
<!--</table>-->

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

<h1>Shop products</h1>

<p>This component demonstrates fetching data from the external server from url <strong></strong></p>

<button (click)="putReq()">Send request</button>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table' *ngIf="books">
  <thead>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Price</th>
    <th>Genre</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <td>{{ book.Title }}</td>
    <td>{{ book.Year }}</td>
    <td>{{ book.Price }}</td>
    <td>{{ book.Genre }}</td>
  </tr>
  </tbody>
</table>
